<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRFResourceController" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/RF.Resources/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRFResourceController"
                contract="RF_Resources.IRFResourceController" name="BasicHttpBinding_IRFResourceController" />
        </client>
    </system.serviceModel>
</configuration>